In [3]:
import pandas as pd
from database import Dataset

In [4]:
reviewPath = "datasets/yelp_academic_dataset_review.json"
datasetJson = Dataset.get_dataset_json(reviewPath)
reviewDataset = Dataset.construct_dataset(Dataset, datasetJson)
reviewDataset.head()

Getting json lines...
Constructing dataset...
Making column 0
Making column 1
Making column 2
Making column 3
Making column 4
Making column 5
Making column 6
Making column 7
Making column 8

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

MOST POPULAR

In [5]:
mpDataset = reviewDataset[['business_id', 'stars']].copy()
mpDataset.head()

              business_id  stars
0  XQfwVwDr-v0ZS3_CbbE5Xw    3.0
1  7ATYjTIgM3jUlt4UM3IypQ    5.0
2  YjUWPpI6HXG530lwP-fb2A    3.0
3  kxX2SOes4o-D3ZQBkiMRfA    5.0
4  e4Vwtrqf-wpJfwesgvdgxQ    4.0

In [30]:
mostVisitedBusiness = mpDataset.groupby(by=['business_id']).size().sort_values(ascending=False).index

In [34]:
def most_popular_rec(data, populars,user, nbRec) -> list:
    userVisited = data.loc[data['user_id'] == user]
    visitedBusUser = list(userVisited['business_id'])
    
    busToRec = []
    for item in range(nbRec):
        if not (populars[item] in visitedBusUser):
            busToRec.append(populars[item])
        else:
            item -= 1
            
    return busToRec
    
busToRec = most_popular_rec(reviewDataset, mostVisitedBusiness,'mh_-eMZ6K5RLWhZyISBhwA', 10)
busToRec

['_ab50qdWOk0DdB6XOrBitw',
 'ac1AeYqs8Z4_e2X5M3if2A',
 'GXFMD0Z4jEVZBCsbPf4CTQ',
 'ytynqOUb3hjKeJfRj5Tshw',
 'oBNrLz4EDhiscSlbOl8uAw',
 'iSRTaT9WngzB8JJ2YKJUig',
 'VQcCL9PiNL_wkGf-uF3fjg',
 '_C7QiQQc47AOEv4PE3Kong',
 'GBTPC53ZrG1ZBY3DT8Mbcw',
 '6a4gLLFSgr-Q6CZXDLzBGQ']

MOST RATED

In [28]:
mostRatedBusiness = mpDataset.groupby(by=['business_id']).sum().sort_values(by=['stars'], ascending=False).reset_index()
mostRatedBusiness = mostRatedBusiness['business_id'].values
mostRatedBusiness

array(['_ab50qdWOk0DdB6XOrBitw', 'ac1AeYqs8Z4_e2X5M3if2A',
       'GXFMD0Z4jEVZBCsbPf4CTQ', ..., 'rd8V7B18pJigGXZEtGk3RQ',
       'mMnsoqPeg7b0lBtE37r0aw', 'qwITYni8X4yic9h8rLLAvw'], dtype=object)

In [33]:
busToRec = most_popular_rec(reviewDataset, mostRatedBusiness,'mh_-eMZ6K5RLWhZyISBhwA', 10)
busToRec

['_ab50qdWOk0DdB6XOrBitw',
 'ac1AeYqs8Z4_e2X5M3if2A',
 'GXFMD0Z4jEVZBCsbPf4CTQ',
 'ytynqOUb3hjKeJfRj5Tshw',
 'oBNrLz4EDhiscSlbOl8uAw',
 '_C7QiQQc47AOEv4PE3Kong',
 'VQcCL9PiNL_wkGf-uF3fjg',
 'GBTPC53ZrG1ZBY3DT8Mbcw',
 '6a4gLLFSgr-Q6CZXDLzBGQ',
 'I_3LMZ_1m2mzR0oLIOePIg']

In [10]:
from mp import MP

In [11]:
model = MP(data=mpDataset, user='mh_-eMZ6K5RLWhZyISBhwA', model='popular', nbRecommendations= 10)
model.recommender()

TypeError: __get_recommender() takes 4 positional arguments but 5 were given